h1.top_tit{
  @include font(25, 25, $black);
  font-family: 'Pretendard-Bold';
  text-align: center;
  margin-bottom: 35px;
  padding-top: 25px;
}

h2.tit{
  @include font(18, 23, $black, 500);
  &.large{
    @include font(20, 30);
    font-family: 'Pretendard-SemiBold';
    .txt_point_line{
      @include font(23, 23, $black, 600);
    }
  }
}
.coln,
.colb,
.col2,
.col3,
.col4 {
  display: flex !important;
  flex-wrap: wrap;
  .shrink {
  flex-shrink: 0;
  }
}
.coln {
  .col {
  flex-grow: 1;
  }
}
.colb {
  justify-content: space-between;
}
.col2 {
  .col {
  width: 50%;
  }
}
.col3 {
  .col {
  width: 33.3%;
  }
}
.col4 {
  .col {
  width: 25%;
  }
}

button, a {
  display: inline-block;
  font-size: calcRem(15);
  transition: color, background 300ms ease-in;
}
//btn
.btns {
  text-align: center;
  flex-shrink: 0;
}


.btn, a.btn {
  @include font(17, 17);
  font-family: 'Pretendard-Regular';
  line-height: 1;
  color: $white;
  font-weight: 600;
  text-align: center;
  background: rgb(247,199,0);
  background: linear-gradient(90deg, rgba(247,199,0,1) 0%, rgba(251,159,130,1) 100%);
  flex-shrink: 0;
  padding: 13px 45px;
  display: inline-block;
  border-radius: 30px;
  &.type2{
    box-shadow: 0 5px 10px rgba(247, 199, 160, 0.8);
  }
  &:hover {
    background: #FEDE82;
  }
  &:disabled,
  &.dis {
    background-color: #cecece;
  }
  &.half{
    width: 50% !important;
    border-radius: 5px 0 0 5px!important;
    &+.half{
    border-radius: 0 5px 5px 0!important;
    }
  }
  @include tablet {
    // padding: 15px 45px;
    @include font(16, 19);
  }
  &.btn_arrow{
    @include font(12, 12, #9E9E9E, 400);
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    &:after{
      @include setCont(5px, 11px, block, relative);
      @include bgSvg(icoArrow($s_black), no-repeat, 50% 50%, 100% auto);
      margin-left: 6px;
    }
  }
}
:root {
  --animate-duration: 2s;
}
.txt_point_line {
  background: linear-gradient(to top, rgba(254, 222, 130, 0.5) 50%, transparent 50%);
}
.a_top{
  @include font(18, 20);
  font-family: 'Pretendard-SemiBold';
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0 10px 0; 
  .ui.fluid.dropdown{
    width: calc(100% - 150px);
  }
}
.area{
  padding: 25px;
  border-bottom: 7px solid #EDEDED;
  &:last-child{
    border-bottom : 0;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  @include setCont(130px, 160px, flex, relative);
  text-align: center;
  font-size: 18px;
  background: #FFFCEF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .bx_list{
    text-align: left;
    dt{
      @include font(14, 14, $black, 500);
      margin-bottom: 5px
    }
    dd{
      @include font(11, 11, $dis, 400);
      margin-bottom: 3px
    }
  }
  &.animate__delay-1s{
    animation-delay: 0.3s
  }
  &.animate__delay-2s{
    animation-delay: 0.8s
  }
}
.bx_lecture_list{
  @include setCont(100%, 320px, block, relative);
  box-shadow: 0 0 20px rgba(67,67,67,0.2);
  background-color: $white;
  margin-bottom: 30px;
  border-radius: 20px;
  a{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .img{
      @include blind;
    }
    .tit{
      @include font(20, 23, $white);
      font-family: 'Pretendard-SemiBold';
      display: flex;
      align-items: center;
      &::after{
        @include setCont(47px, 18px, flex, relative);
        @include font(12, 12, $white, 500);
        content: 'HOT';
        background: rgb(254,222,130);
        background: linear-gradient(90deg, rgba(254,222,130,1) 0%, rgba(251,159,130,1) 100%);
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
      }
    }
    .tit_sub{
      @include font(16, 22, $white, 400);
      letter-spacing : -1px;
      font-family: 'Pretendard-Medium';
      text-align: left;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      margin-top: 7px;
    }
    &.one{
      background-color: #F48383;
      box-shadow: 0 0 20px 2px rgba(253, 117, 117, 0.5);
      .img{
        @include setCont(190px, 140px, block, relative);
        @include bg("/t_cont_two.png", no-repeat, 50% 50%, 100% auto);
      }
    }
    &.two{
      background-color: #FACC2D;
      box-shadow: 0 0 20px 2px rgba(188, 148, 8, 0.4);
      .img{
        @include setCont(180px, 136px, block, relative);
        @include bg("/t_cont_four.png", no-repeat, 50% 50%, 100% auto);
      }
      .tit{
        color: $black;
        &::after{
          content: 'BEST';
          background: rgb(151,255,164);
          background: linear-gradient(90deg, rgba(151,255,164,1) 9%, rgba(74,218,39,1) 100%);
        }
      }
      .tit_sub{
        color: #585858;
      }
    }
    &.three{
      display: block;
      background-color: #000;
      .img{
        @include setCont(136px, 136px, block, relative);
        @include bg("/3d_list.svg", no-repeat, 50% 50%, 100% auto);
      }
      .tit{
        color: $white;
      }
      .tit_sub{
        color: #9E9E9E;
      }
    }
    &.four{
      display: block;
      background-color: #AA8FFF;
      box-shadow: 0 0 20px 2px rgba(121, 0, 242, 0.4);
      .img{
        @include setCont(180px, 156px, block, relative);
        @include bg("/t_cont_one.png", no-repeat, 50% 50%, 100% auto);
      }
      .tit{
        color: $white;
      }
      .tit_sub{
        color: $white;
      }
    }
    &.five{
      background-color: #37DD80;
      box-shadow: 0 0 20px 2px rgba(1, 150, 69, 0.4);
      display: block;
      .img{
        @include setCont(160px, 156px, block, relative);
        @include bg("/t_cont_three.png", no-repeat, 50% 50%, 100% auto);
      }
    }
  }
}
.search_bar{
  position: relative;
  &:before{
    @include setCont(20px, 20px, inline-block, absolute);
    @include bgSvg(icoSearch($s_black), no-repeat, 50% 50%, 100% auto);
    background-color: $white;
    right: 15px;
    top: 18px;
    z-index: 10;
  }
  .ipt{
    @include setCont(100%, 55px, block, relative);
    background-color: $white;
    box-shadow: 0 0 10px rgba(67,67,67,0.1);
    border: none;
    border-radius: 10px;
    padding: 15px;
  }
}
.visual{
  @include setCont(100%, auto, flex, relative);
  flex-direction: column;
  align-items: center;
  .left{
    @include blind;
  }
  .right{
    h2{
      @include font(25, 25, $black);
      font-family: 'Pretendard-Bold';
      text-align: center;
      margin-bottom: 35px;
    }
    p{
      @include font(16, 20, $black, 400);
      text-align: justify;
      font-family: 'Pretendard-Medium';
    }
  }
}

.area_bx_infor{
  .large{
    b{
      @include font(23, 20, $yellow, 400);
      font-family: 'Pretendard-Bold';
    }
  }
  .bx_infor{
    @include setCont(100%, 106px, block, relative);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.09);
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    .col{
      margin: 23px 0;
      &:nth-child(2){
        border-left: 1px solid #EBEBEB;
        border-right: 1px solid #EBEBEB;
      }
      span{
        @include font(15, 15, $black, 400);
        font-family: 'Pretendard-SemiBold';
        display: block;
        margin-bottom: 18px;
      }
      strong{
        @include font(15, 15, $black);
        font-family: 'Pretendard-Medium';
        b{
          @include font(30, 30, $yellow);
          font-family: 'Pretendard-Bold';
        }
      }
    }
  }
}


.bx_filt{
  margin: 20px 0;
  .btns{
    display: flex;
    align-items: center;
    .btn{
      @include setCont(64px, auto, block, relative);
      @include font(12, 12, $black, 400);
      font-family: 'Pretendard-Medium';
      background: #F9F3E5;
      padding: 9px 0;
      margin-right: 5px;
      &.on{
        background: #FEDE82;
        font-family: 'Pretendard-SemiBold';
      }
    }
  }
}

.bx_subject_item{
  @include setCont(100%, 118px, block, relative);
  box-shadow: 0px 0px 10px rgba(67,67,67,0.1);
  border-radius: 20px;
  margin-top: 15px;
  a{
    width: 100%;
    padding: 20px 15px;
    .subject_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EBEBEB;
      padding-bottom: 15px;
      h3{
        @include font(16, 16, $black);
        font-family: 'Pretendard-SemiBold';
      }
    }
    .area_subject_cont{
      span{
        @include font(14, 14, $dis, 400);
        font-family: 'Pretendard-Medium';
      }
    }
  }
}
.subject_cont{
  display: flex;
  align-items: center;
  height: 15px;
  margin-bottom: 2px;
  li{
    @include font(14, 14, $dis, 400);
    font-family: 'Pretendard-Medium';
    margin-right: 7px;
    &.grades{
      display: flex;
      align-items: center;
      border-left: 1px solid #EBEBEB;
      border-right: 1px solid #EBEBEB;
      padding: 0 7px;
      margin-top: 10px;
      margin-bottom: 10px;
      &::before{
        @include setCont(12px, 11px, block, relative);
        @include bgSvg(icoStar(), no-repeat, 50% 50%, 100% auto);
        margin-right: 3px;
      }
    }
  }
}
.ui.selection.active.dropdown:hover{
  border-color: #F7C700!important;
  .menu{
    border-color: #F7C700!important;
  }
} 

$like-color: #cc4896;
$thumb-color: #3b5998;

@mixin button-color($color) {
  &:before,
  &:after {
    color: $color;
  }

  &.is-active {
    background: $color;
  }
}
.bx_review{
  box-shadow: 0px 0px 10px rgba(67,67,67,0.1);
  border-radius: 20px;
  margin-top: 10px;
  text-align: left;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
  .r_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      @include font(15, 18, $black);
      font-family: 'Pretendard-Bold';
      display: flex;
      align-items: center;
      margin: 0;
      &::before{
        @include setCont(35px, 35px, block, relative);
        @include bg("/review3.png", no-repeat, 50% 50%, 100% auto);
        margin-right: 10px;
      }
    }
    .btn{
      @include setCont(50px, 30px, block, relative);
      @include font(13, 13, #e65540);
      font-family: 'Pretendard-SemiBold';
      border: 1px solid #e65540;
      padding: 3px 5px;
      border-radius: 5px;
      opacity: 0.7;
    }
  }
  &:nth-of-type(1){
    .r_top{
      p{
        &::before{
          @include bg("/review2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
  }
  &:nth-of-type(3){
    .r_top{
      p{
        &::before{
          @include bg("/review1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
  }
  .t_bottom{
    color: #9E9E9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  /* Reset button */
  button {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    outline: none;
  }

  .button {
    z-index: 1;
    margin: .5em;
    color: #AAB2BD;
    font-size: 1rem;
    padding: 2px;
    min-width: 27px;
    min-height: 27px;
    border-radius: .2em;
    background: lighten(#AAB2BD, 25%);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1); 
    outline: none;
    transition: background ;
    
    i {
      transition: .2s;
    }
    &.rounded {
      border-radius: 2em;
    }
    
    @keyframes loader-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    /* Animation */
    &.is-active {
      z-index: 2;
      color: white;
      background: #0076FF;
      animation: .8s;
      
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        transform: scale(0);
        color: #AAB2BD;
        border: 1px solid transparent;
        box-shadow: -.8em 0 0 -2px, .8em 0 0 -2px, 0 -.8em 0 -2px, 0 .8em 0 -2px, -.6em -.6em 0 -2px, -.6em .6em 0 -2px, .6em -.6em 0 -2px, .6em .6em 0 -2px;
      }   
    
      &:before {
        animation: effect-01-animation .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      }
      &:after {
        animation: effect-02-animation .6s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      }
    }
    
    @keyframes effect-01-animation {
      from { 
        transform: rotate(-15deg) scale(0); 
      }
      40% { 
        opacity: 1; 
      }
      to { 
        transform: rotate(-30deg) scale(2.5); 
        opacity: 0;
      }
    }
    
    @keyframes effect-02-animation {
      from { 
        transform: rotate(10deg) scale(0); 
      }
      40% { 
        opacity: 1; 
      }
      to { 
        transform: rotate(30deg) scale(2); 
        opacity: 0; 
      }
    }
    
    /* Buttons colors variants */
    &.like {
      @include button-color($like-color);
    }
    &.thumb {
      @include button-color($thumb-color);
    }
  }

  .scope{
    @include setCont(72px, 11px, block, relative);
    @include bgSvg(icoFiveStar(), no-repeat, 50% 50%, 100% auto);
    @include blind;
    margin: 0 auto;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  p{
    @include font(15, 18, $dark_gray);
    font-family: 'Pretendard-Medium';
    flex-grow: 1;
    margin-top: 10px
  }
  span{
    @include font(14, 14, $dis, 400);
    font-family: 'Pretendard-Medium';
    display: inline-block;
    flex-grow: 1;
    margin-top: 10px;
  }
}
.todo-container{
  .txt_review{
    @include font(17, 17, $black);
    font-family: 'Pretendard-Bold';
    margin: 20px 0;
    border-top: 1px solid #ddd;
    padding: 20px 0 0 0;
    span{
      @include font(14, 14, $dark_gray);
      display: block;
      font-family: 'Pretendard-Medium';
      margin-top: 5px;
    }
  }
  .bx_review{
    .r_top{
      p{
        &::before{
          @include bg("/profile.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
  }
  .controller{
    display: flex;
    &::before{
      @include setCont(50px, 50px, block, relative);
      @include bg("/profile.png", no-repeat, 50% 50%, 100% auto);
      margin-right: 10px
    }
    input{
      @include font(17, 17, $black);
      font-family: 'Pretendard-Medium';
      padding: 0.2em 1em;
      background-color: #F8F8F8;
      border-radius: 20px 0 0 20px;
      width: 80%;
      &::placeholder{
        @include font(13, 13, $black);
        font-family: 'Pretendard-Medium';
        color: #cecece;
      }
    }
    button{
      background: $yellow;
      color: #fefefe;
      width: 20%;
      border-color: #ddd;
      padding: 0;
      border-radius: 0 20px 20px 0;
      &:disabled{
        background: #ddd;
      }
    }
  }
}
.bx_target{
  li{
    @include setCont(100%, auto, block, relative);
    box-shadow: 0px 0px 10px rgba(67,67,67,0.1);
    margin-top: 15px;
    border-radius: 20px;
    text-align: left;
    padding: 18px 15px;
    p{
      display: flex;
      &:before{
        @include setCont(30px, 30px, block, relative);
        @include font(12, 12, $black);
        min-width: 30px;
        font-family: 'Pretendard-SemiBold';
        content: '01';
        line-height: 30px;
        text-align: center;
        border-radius: 29px;
        background-color: $yellow;
        margin-right: 12px;
        margin-top: 8px;
      }
    }
    &:nth-of-type(2){
      p{
        &:before{
          content: '02';
        }
      }
    }
    &:nth-of-type(3){
      p{
        &:before{
          content: '03';
        }
      }
    }
    &:nth-of-type(4){
      p{
        &:before{
          content: '04';
        }
      }
    }
    &:nth-of-type(5){
      p{
        &:before{
          content: '05';
        }
      }
    }
  }
}

.header-wrapicon2{
  @include setCont(61px, 61px, block, relative);
  @include bg("/cart.png", no-repeat, 50% 50%, 100% auto);
  border-radius: 61px;
  box-shadow: 0 5px 10px rgba(255,229,160,.8);
  img{
    @include setCont(60px, 60px, block, relative);
    margin: 0 auto;
    opacity: 0;
  }
}

.bx_list_sub{
  .list{
    padding: 20px 0;
    li{
      @include font(15, 25, $dark_gray);
      font-family: 'Pretendard-Medium';
      text-align: justify;
    }
  }
}

.bx_profile{
  display: flex;
  align-items: center;
  padding: 10px 0 35px 0;
  .img{
    @include setCont(80px, 80px, block, relative);
    @include bg("/parkwon.png", no-repeat, 50% 50%, 100% auto);
    @include blind;
    &.hochan{
      @include bg("/hochan.jpg", no-repeat, 50% 50%, 100% auto);
      border-radius: 50%;
    }
    &.shinjong{
      @include bg("/shinjong.png", no-repeat, 50% 50%, 100% auto);
      border-radius: 50%;
    }
  }
  .right{
    margin-left: 20px;
    h2{
      @include font(15, 15, $black);
      font-family: 'Pretendard-SemiBold';
      margin-bottom: 5px;
    }
    p{
      @include font(15, 18, $black);
      font-family: 'Pretendard-Medium';
    }
  }
}

.typing-demo{
  @include font(18, 18);
  font-family: 'Pretendard-SemiBold';
  position: relative;
  bottom: 0;
  right: 5px;

  width: 25ch;
  animation: typing 2.5s steps(35),  step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.red {
  color: red;
}

.tabBlock-tabs{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
  justify-content: space-between;
  .tabBlock-tab {
    @include font(16, 16, $black);
    font-family: 'Pretendard-SemiBold';
    padding: 10px 25px;
    position: relative;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; 
    &.on{
      color: $yellow;
      position: relative;
      &::before{
        @include setCont(100%, 3px, block, absolute);
        background-color: $yellow!important;
        bottom: -1px;
        left: 0;
      }
    }
  }
}

.tabBlock-tab:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    margin:-35px 0 0 -35px;
    width:70px;
    height:70px;
    border-radius:50%;
    opacity:0;
  }

.tabBlock-tab:after {
  background:rgba(254,222,130,0.2);
}

.tabBlock-tab.button-click:after {
  animation:anim-effect-a 0.3s forwards;
  -webkit-animation:anim-effect-a 0.3s forwards;
}

  
@-webkit-keyframes anim-effect-a {
  0% {
    -webkit-transform:scale3d(0.3,0.3,1);
  }
  25%,50% {
    opacity:1;
  }
  100% {
    opacity:0;
    -webkit-transform:scale3d(1.2,1.2,1);
  }
}

@keyframes anim-effect-a {
  0% {
    -webkit-transform:scale3d(0.3,0.3,1);
  }
  25%,50% {
    opacity:1;
  }
  100% {
    opacity:0;
    -webkit-transform:scale3d(1.2,1.2,1);
  }
}


/* pagination */
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -35px;
}

.swiper-pagination{
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  margin-bottom: 15px;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: $yellow;
}

.c-modal {
  @include setCont(300px, 180px, block, fixed);
  @include font(20, 20, $black);
  font-family: 'Pretendard-SemiBold';
	margin: auto;
  padding: 20px 0 0 0;
  border-radius: 20px;
  background-color: #fff;
	z-index: 10001;
	opacity: 1;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: -30px;
  animation: fadeIn 0.25s ease-out forwards;
  span{
    display: block;
    margin-top: 20px;
  }
  .btns{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    .modal-exit-btn, a{
      @include font(15, 15, $black);
      font-family: 'Pretendard-SemiBold';
      width: 50%;
      height: 50px;
      line-height: 50px;
      background-color: #ddd;
      &.modal-exit-btn{
        border-radius: 0 0 0 20px;
      }
    }
    a{
      background-color: $yellow;
      border-radius: 0 0 20px 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  z-index: 10000;
  opacity: 1;
}

.checkmark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: $yellow;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $yellow;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position:relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $yellow;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
      transform: none;
  }

  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 20px $yellow;
  }
}

.area_bx_thema{
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
  .bx_thema{
    width: calc(50% - 5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .t_cont{
      border-radius: 25px;
      padding: 20px;
      h3{
        @include font(18, 18, $white);
        font-family: 'Pretendard-Bold';
        margin-bottom: 10px;
      }
      p{
        font-family: 'Pretendard-SemiBold'!important;
        color: $white!important;
        font-size: 15px!important;
        line-height: 18px!important;
        overflow: hidden;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient:vertical;
      }
      &.one{
        position: relative;
        background-color: #F48383;
        box-shadow: 0 0 20px 2px rgba(253,117,117,0.5);
        height: 196px;
        &::before{
          @include setCont(110px, 110px, inline-block, absolute);
          @include bg("/t_cont_two.png", no-repeat, 50% 50%, 100% auto);
          bottom: 0;
          left: 50%;
          margin-left: -55px;
        }
      }
      &.two{
        position: relative;
        background-color: #AA8FFF;
        box-shadow: 0 0 20px 2px rgba(121,0,242,0.4);
        margin-top: 10px;
        height: 163px;
        &::before{
          @include setCont(120px, 120px, inline-block, absolute);
          @include bg("/t_cont_one.png", no-repeat, 50% 50%, 100% auto);
          bottom: -20px;
          right: -20px;
        }
      }
      &.three{
        position: relative;
        background-color: #37DD80;
        box-shadow: 0 0 20px 2px rgba(1,150,69,0.4);
        height: 163px;
        &::before{
          @include setCont(80px, 80px, inline-block, absolute);
          @include bg("/t_cont_three.png", no-repeat, 50% 50%, 100% auto);
          bottom: 0;
          left: 50%;
          margin-left: -40px;
        }
      }
      &.four{
        position: relative;
        background-color: #FACC2D;
        box-shadow: 0 0 20px 2px rgba(188, 148, 8,0.4);
        margin-top: 10px;
        height: 196px;
        &::before{
          @include setCont(100px, 100px, inline-block, absolute);
          @include bg("/t_cont_four.png", no-repeat, 50% 50%, 100% auto);
          bottom: -5px;
          right: 10px;
        }
      }
    }
  }
}

@media (max-width: 325px) {
  .area_bx_thema{
    .bx_thema{
      .t_cont{
        padding: 15px;
        h3{
          @include font(15, 15, $white);
          font-family: 'Pretendard-Bold';
          margin-bottom: 10px;
        }
      }
    }
  }
}