#app{
  min-width: 320px;
}

.inner{
  @include setCont(100%, null, block, relative);
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  @include tablet {
    width: 100%;
  }
  @include pc {
    width: 100%;
    max-width: $pc;
  }
}
.header{
  width: 100%;
  position: fixed;
  background-color: $white;
  z-index: 100;
  .inner{
    height: 60px;
    min-height: auto;
    display: flex;
    padding: 20px 15px;
    button{
      @include setCont(24px, 17px, block);
      @include bgSvg(icomenu($s_black), no-repeat, 50% 50%, 100% auto);
      @include blind;
    }
    h1{
      @include font(15, 15, $black, 500);
      margin: 0 auto;
    }
  }
}

footer{
  padding-bottom: 120px;
  .s-text8{
    @include font(14, 20);
    font-family: 'Pretendard-Medium';
    em{
      color: $black;
    }
  }
}


@keyframes msg {
  50% {
      transform: scale(1.1);
  }
}
@keyframes home {
  50% {
      transform: translateY(-55px);
  }
}
@keyframes bell {
  50% {
      transform: rotate(-10deg);
  }
}
@keyframes clickCircle {
  100% {
      opacity: 0;
  }
}

.bar {
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9999;
  bottom: 0;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.08);
}
.icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  &.active {
    &::after {
        transform: translateY(0px);
    }
    &::before {
        opacity: 1;
        width: 35px;
        height: 35px;
        animation: clickCircle linear 0.5s forwards;
    }
    svg {
        fill: $yellow;
        stroke: $yellow;
    }
    .msg {
        animation: msg linear 0.5s alternate;
        animation-delay: 0.2s;
        @include bgSvg(icoCap($s_yellow), no-repeat, 50% 50%, 100% auto);
    }
    .home .roof,
    .user .head {
        animation: home linear 0.5s alternate;
        animation-delay: 0.2s;
    }
    .bell {
        animation: bell linear 0.5s alternate;
        animation-delay: 0.2s;
    }
  }
  &::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $yellow;
    margin: 2px auto 0;
    transform: translateY(20px);
    transition: transform 0.2s;
  }
  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
  }
  .home,
  .msg,
  .user {
    stroke-width: 15;
    stroke: #000;
  }
  .msg{
    @include setCont(23px, 23px, block);
    @include bgSvg(icoCap($s_black), no-repeat, 50% 50%, 100% auto);
    margin-bottom: 5px;
  }
  &.button {
    width: 55px;
    height: 55px;
    padding: 18px;
    background-color: $yellow;
    border-radius: 50%;
    transform: translateY(-20px);
    transition: 0.5s;
    position: relative;
    &.active {
      background-color: $yellow;
      svg {
        stroke-width: 15;
        stroke: #fff;
        fill: white;
      }
      .tag {
        top: 20px;
        transform: translate(44px, -64px) scale(1) rotate(90deg);
      }
      .heart {
        top: 20px;
        transform: translate(90px, -110px) scale(1) rotate(45deg);
      }
    }
    &::after,
    &::before {
      display: none;
    }
    svg {
      stroke-width: 15;
      stroke: #fff;
      fill: white;
    }
    &.tag,
    &.heart {
        background-color: $yellow;
        transition: transform 0.5s;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translate(0, 0) scale(0) rotate(0deg);
    }
  }
}

#btn_group{
  button{
    @include setCont(30px, 30px, block, absolute);
    @include blind;
    left: 20px;
    top: 25px;
    z-index: 9999;
    &::before{
      @include setCont(13px, 25px, block, relative);
      @include bgSvg(icoArrow($s_black), no-repeat, 50% 50%, 100% auto);
      transform: rotate(180deg);
    }
  }
}



#wrapper {
  width: 960px;
  margin: 0 auto;
}

#wrapper {
  perspective: 2500;
  -webkit-perspective: 2500;
  width: 800px;
  margin: 100px auto 0 auto;
  perspective-origin: 50% 150px;
  -webkit-perspective-origin: 50% 150px;
  transition: perspective, 1s;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
  -webkit-transition: -webkit-perspective, 1s;
}

#image:hover {
  animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
}


@-webkit-keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}

#image {
  margin: 0 auto;
  height: 300px;
  width: 400px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
  -webkit-animation: spin 24s infinite linear;
}

.image {
  position: absolute;
  height: 300px;
  width: 400px;
  border-radius: 25px;
  text-align: center;
  font-size: 20em;
  color: #fff;
}

#image > .i1 {
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.08);
  transform: translateZ(485px);
  -moz-transform: translateZ(485px);
  -o-transform: translateZ(485px);
  -ms-transform: translateZ(485px);
  -webkit-transform: translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/uiux_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i2 {
  transform: rotateY(45deg) translateZ(485px);
  -moz-transform: rotateY(45deg) translateZ(485px);
  -o-transform: rotateY(45deg) translateZ(485px);
  -ms-transform: rotateY(45deg) translateZ(485px);
  -webkit-transform: rotateY(45deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/graphic_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i3 {
  transform: rotateY(90deg) translateZ(485px);
  -moz-transform: rotateY(90deg) translateZ(485px);
  -o-transform: rotateY(90deg) translateZ(485px);
  -ms-transform: rotateY(90deg) translateZ(485px);
  -webkit-transform: rotateY(90deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/3d_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i4 {
  transform: rotateY(135deg) translateZ(485px);
  -moz-transform: rotateY(135deg) translateZ(485px);
  -o-transform: rotateY(135deg) translateZ(485px);
  -ms-transform: rotateY(135deg) translateZ(485px);
  -webkit-transform: rotateY(135deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/ani_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i5 {
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.08);
  background-color: rgba(0, 0, 0, 0.8);
  transform: rotateY(180deg) translateZ(485px);
  -moz-transform: rotateY(180deg) translateZ(485px);
  -o-transform: rotateY(180deg) translateZ(485px);
  -ms-transform: rotateY(180deg) translateZ(485px);
  -webkit-transform: rotateY(180deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/packa_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i6 {
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.08);
  transform: rotateY(225deg) translateZ(485px);
  -moz-transform: rotateY(225deg) translateZ(485px);
  -o-transform: rotateY(225deg) translateZ(485px);
  -ms-transform: rotateY(225deg) translateZ(485px);
  -webkit-transform: rotateY(225deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/uiux_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i7 {
  transform: rotateY(270deg) translateZ(485px);
  -moz-transform: rotateY(270deg) translateZ(485px);
  -o-transform: rotateY(270deg) translateZ(485px);
  -ms-transform: rotateY(270deg) translateZ(485px);
  -webkit-transform: rotateY(270deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/graphic_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}
#image > .i8 {
  transform: rotateY(315deg) translateZ(485px);
  -moz-transform: rotateY(315deg) translateZ(485px);
  -o-transform: rotateY(315deg) translateZ(485px);
  -ms-transform: rotateY(315deg) translateZ(485px);
  -webkit-transform: rotateY(315deg) translateZ(485px);
  &::before{
    @include setCont(100%, 100%, block, relative);
    @include bg("/3d_main.svg", no-repeat, 50% 50%, 100% auto);
  }
}

img {
  border-radius: 25px;
}