.login{
  .container{
    @include setCont(100%, 100%, flex, relative);
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    touch-action: none;
    .logo{
      @include setCont(100%, 100%, flex, relative);
      @include bg("/login_bg.svg", no-repeat, 50% 50%, 100% auto);
      @include blind;
      flex-grow: 1;
      max-width: 358px;
      min-height: 358px;
      margin: 0 auto;
      left: 1px;
    }
    .bottom{
      @include setCont(100%, 100%, block, relative);
      padding: 100px 0;
      flex-shrink: 0;
      text-align: center;
      h1{
        @include font(23, 23, $black, 600);
        font-family: 'Pretendard-Bold';
      }
      span{
        @include font(17, 17, $gray, 400);
        font-family: 'Pretendard-SemiBold';
        display: block;
        margin: 15px 0 35px;
      }
      .btn{
        @include font(17, 17, $white);
        font-family: 'Pretendard-Medium';
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.09);
        width: 200px;
        background: rgb(247,199,0);
        background: linear-gradient(90deg, rgba(247,199,0,1) 0%, rgba(251,159,130,1) 100%);
        padding: 13px 45px;
        @include tablet {
          padding: 15px 20px;
        }
      }
    }
  }
}
.detail{
  .area{
    padding: 25px;
    .visual{
      padding: 40px 25px 30px 25px;
      .right{
        h2{
          margin: 30px 0 20px;
        }
      }
    }
  }
  .area_subject_cont{
    width: 100%;
    .subject_cont{
      margin-top: 10px;
    }
  }
  &.uiuxdesign{
    .visual{
      .left{
        @include setCont(231px, 149px, block, relative);
        @include bg("/uiux_list.svg", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
    }
    // .area_bx_infor{
    //   .large{
    //     b{
    //       @include font(23, 20, #7D55E0, 400);
    //       font-family: 'Pretendard-Bold';
    //     }
    //   }
    //   .bx_infor{
    //     box-shadow: 0px 0px 20px rgba(137 , 90, 232 ,0.2);
    //     strong{
    //       color: #7D55E0;
    //       b{
    //         color: #7D55E0;
    //       }
    //     }
    //   }
    // }
    // .bx_filt{
    //   .btns{
    //     .btn{
    //       background-color:rgba(137 , 90, 232 ,0.2);
    //       &.on{
    //         color: $white;
    //         background-color: #7D55E0;
    //       }
    //     }
    //   }
    // }
  }
  &.graphicdesign{
    .visual{
      .left{
        @include setCont(160px, 160px, block, relative);
        @include bg("/graphic_list.svg", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
    }
  }
  &.threedesign{
    .visual{
      .left{
        @include setCont(160px, 179px, block, relative);
        @include bg("/3d_list.svg", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
    }
  }
  &.animator{
    .visual{
      .left{
        @include setCont(193px, 179px, block, relative);
        @include bg("/motion_list.svg", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
      .right{
        h2{
          margin-top: 20px;
        }
      }
    }
  }
  &.package{
    .visual{
      .left{
        @include setCont(208px, 147px, block, relative);
        @include bg("/package_list.svg", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
    }
  }
}
.course{
  .a_top{
    margin-top: 0;
  }
  .visual{
    display: block;
    height: auto;
    padding: 0;
    background-color: transparent;
    .right{
      p{
        @include font(16, 20, $black, 400);
        text-align: justify;
        font-family: 'Pretendard-Medium';
      }
    }
  }
  .subject_cont{
    margin: 8px 0 28px 0;
  }
  .swiper-slide {
    @include setCont(130px, 160px, flex, relative);
    a{
      @include setCont(100%, 100%, block, relative);
      .bx_list{
        position: absolute;
        bottom: 0px;
        padding: 15px;
      }
    }
  }
  .area_subject_cont{
    .subject_cont{
      margin: 0;
      margin-top: 10px;
    }
  }
}

.department{
  h2{
    @include font(19, 21, $black, 400);
    font-family: 'Pretendard-SemiBold';
    margin-bottom: 20px;
  }
  p{
    @include font(16, 23, $black, 400);
    font-family: 'Pretendard-Medium';
    text-align: justify;
    +p{
      margin-top: 15px;
    }
  }
}

.introduct{
  .animate__delay-1s{
    animation-delay: 0.2s
  }
  .animate__delay-2s{
    animation-delay: 0.6s
  }
  .animate__delay-3s{
    animation-delay: 1s
  }
  .animate__delay-4s{
    animation-delay: 1.2s
  }
  .a_cont{
    position: relative;
    padding: 30px 0;
    p{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &::after{
      @include setCont(50px, 2px, block, absolute);
      background-color: #ddd;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-of-type(1){
      p{
        &:before{
          @include setCont(155px, 79px, block, relative);
          @include bg("/introduct_img1.svg", no-repeat, 50% 50%, 100% auto);
          margin-bottom: 18px;
        }
      }
    }
    &:nth-of-type(2){
      p{
        &:before{
          @include setCont(117px, 78px, block, relative);
          @include bg("/introduct_img2.svg", no-repeat, 50% 50%, 100% auto);
          margin-bottom: 18px;
        }
      }
    }
    &:nth-of-type(3){
      p{
        &:before{
          @include setCont(86px, 86px, block, relative);
          @include bg("/introduct_img3.svg", no-repeat, 50% 50%, 100% auto);
          margin-bottom: 18px;
        }
      }
    }
  }
}

.rpl{
  h2{
    margin-bottom: 20px;
  }
  p{
    @include font(16, 23, $black, 400);
    font-family: 'Pretendard-Medium';
  }
  .circle{
    margin-top: 15px;
    li{
      @include font(14, 19, $black, 400);
      font-family: 'Pretendard-Regular';
      list-style:disc;
      margin-left: 15px;
    }
  }
  .a_cont{
    li{
      background-color: #FFFCEF;
      border-radius: 5px;
      margin-top: 10px;
      padding: 15px 20px;
      &.animate__delay-1s{
        animation-delay: 0.4s
      }
      &.animate__delay-2s{
        animation-delay: 0.7s
      }
      &.animate__delay-3s{
        animation-delay: 1s
      }
      &:nth-of-type(1){
        .right {
          display: flex;
          align-items: center;
          &:before{
            @include setCont(77px, 63px, block, relative);
            @include bg("/rpl_img1.svg", no-repeat, 50% 50%, 100% auto);
            margin-bottom: 18px;
            margin-right: 30px;
          }
        }
      }
      dt{
        @include font(15, 19, $black, 400);
        font-family: 'Pretendard-SemiBold';
        margin-bottom: 5px;
      }
      dd{
        @include font(14, 18, $dark_gray, 400);
        font-family: 'Pretendard-Medium';
        margin-bottom: 3px;
      }
      .btn{
        @include font(15, 15, $white, 400);
        font-family: 'Pretendard-SemiBold';
        padding: 10px 23px;
        margin-top: 11px;
      }
      p{
        @include font(15, 19, $black, 400);
        font-family: 'Pretendard-SemiBold';
        margin-bottom: 10px;
      }
      .dl_check{
        dt{
          @include font(15, 21, $black);
          font-family: 'Pretendard-SemiBold';
          display: flex;
          align-items: center;
          &:before{
            @include setCont(10px, 8px, block, relative);
            @include bgSvg(icoCheck($s_yellow), no-repeat, 50% 50%, 100% auto);
            margin-right: 5px;
          }
        }
        dd{
          @include font(14, 21, $dark_gray, 400);
          font-family: 'Pretendard-Medium';
          margin-bottom: 10px;
        }
      }
    }
  }
}

.faculty{
  h2{
    @include font(19, 21, $black);
    font-family: 'Pretendard-SemiBold';
    margin-bottom: 10px;
  }
  .swiper-slide{
    background-color: $white;
    height: 108px;
    margin: 10px 0;
    .bx_subject_item{
      margin: 0;
      height: 105px;
      a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .subject_top{
          h3{
            width: 80%;
            text-align: left;
            @include ellipsis(2);
          }
        }
        .subject_cont{
          justify-content: space-between;
        }
      }
    }
  }
}

.take{
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: none;
  }
}
.take.alltake {
  display: block;
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: none;
  }
}
.take.onetake {
  .take{
    display: none;
  }
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: block;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: none;
  }
}
.take.twotake {
  .take{
    display: none;
  }
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: block;
  }
  .bx_threetake{
    display: none;
  }
}
.take.threetake {
  .take{
    display: none;
  }
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: block;
  }
}
a {
  transition:all 200ms;
}
// 2D컴퓨터그래픽
.twod{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(1){
        display: block;
      }
    }
   } 
}
// gui
.gui{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(2){
        display: block;
      }
    }
   } 
}
// HCI개론(인터렉션디자인 이해)
.hci{
 .newproduct{
  .course{
    display: none;
    &:nth-of-type(3){
      display: block;
    }
  }
 } 
}
// UX디자인 사례분석
.uxdesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(4){
        display: block;
      }
    }
   } 
}
// 기초입체디자인
.basicstere{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(5){
        display: block;
      }
    }
   } 
}
// 모션그래픽
.motion{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(6){
        display: block;
      }
    }
   } 
}
// 미디어스토리텔링 디자인
.mediastory{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(7){
        display: block;
      }
    }
   } 
}
// 브랜드디자인
.branddesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(8){
        display: block;
      }
    }
   } 
}
// 브랜드전략
.brandstrategy{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(9){
        display: block;
      }
    }
   } 
}
// 사용자경험 프로토타이핑
.prototyping{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(10){
        display: block;
      }
    }
   } 
}
// 사진촬영 스튜디오
.photography{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(11){
        display: block;
      }
    }
   } 
}
// 영상촬영 스튜디오
.videography{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(12){
        display: block;
      }
    }
   } 
}
// 인포메이션디자인
.information{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(13){
        display: block;
      }
    }
   } 
}
// 타이포그래피
.typography{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(14){
        display: block;
      }
    }
   } 
}
// 편집디자인 종합설계
.designeditor{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(15){
        display: block;
      }
    }
   } 
}
// 3D컴퓨터그래픽
.threed{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(16){
        display: block;
      }
    }
   } 
}
// UX 디자인 방법론
.methodology{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(17){
        display: block;
      }
    }
   } 
}
// 기초평면디자인
.basicplane{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(18){
        display: block;
      }
    }
   } 
}
// 레이아웃 디자인
.layoutdesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(19){
        display: block;
      }
    }
   } 
}
// 서비스경험디자인
.serviceexperience{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(20){
        display: block;
      }
    }
   } 
}
// 디자인매니지먼트
.management{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(21){
        display: block;
      }
    }
   } 
}
// 패키지디자인
.package{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(22){
        display: block;
      }
    }
   } 
}
// 소셜비즈니스 마케팅
.socialbusiness{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(23){
        display: block;
      }
    }
   } 
}
// 영상디자인기초
.videodesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(24){
        display: block;
      }
    }
   } 
}



.tab_wrap{
  @include font(15, 15);
  font-family: 'Pretendard-SemiBold';
  display: flex;
  justify-content: space-between;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  // border-bottom:1px solid #cdcdcd;
}
.tab_wrap input{
  display:none;
}
.tab_wrap label{
  width: 33.3%;
  height:45px;
  color: #9E9E9E;
  line-height:45px;
  text-align:center;
  margin-bottom: 0;
  border-bottom: 3px solid #EBEBEB;
}
.tab_wrap label.on{
  color:$black;
  border-bottom: 3px solid $yellow;
}
.tab_content{
  display:none;
  width:100%;
  margin:0 auto;
}
.tab_content1{
  display:block;
}

.features{
  h1{
    @include font(25, 25, $black);
    font-family: 'Pretendard-Bold';
    text-align: center;
    margin-bottom: 35px;
  }
  .f_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2.tit{
    @include font(18, 18, $black);
    font-family: 'Pretendard-SemiBold';
    display: inline-block;
  }
  .area_bx_infor{
    .bx_infor{
      box-shadow: 0px 0px 7px 3px rgba(235, 235, 235, 0.8);
      strong{
        b{
          color: $black;
        }
      }
    }
  }
  
  .table-shopping-cart{
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 7px 3px rgba(235, 235, 235, 0.3);
    .table-head{
      background-color: rgba(254, 222, 130, 0.8);
      th{
        @include font(15, 17);
        font-family: 'Pretendard-SemiBold';
        padding: 10px;
        width: 25%;
        text-align: center;
        &.b-radi-left{
          width: 50%;
          border-radius: 5px 0 0 0;
        }
        &.b-radi-right{
          border-radius: 0 5px 0 0;
        }
      }
    }
    .table-row{
      display: table-row!important;
      position: relative;
      width: 100%;
      border: none;
      td{
        @include font(14, 17);
        font-family: 'Pretendard-Medium';
        position: relative;
        width: 25%;
        padding: 10px;
        height: 50px;
        text-align: center;
        border-bottom: 0.5px solid #ddd;
        &.tit{
          width: 50%;
          text-align: left;
          padding-left: 40px;
        }
        button{
          @include setCont(20px, 20px, block, absolute);
          background-color: #e65540;
          border-radius: 50%;
          left: 10px;
          top: 15px;
          .fa-minus{
            color: $white;
          }
        }
      }
    }
    .table_cont{
      padding: 60px 0 50px 0;
      a{
        display: block;
        text-align: center;
      }
      span{
        @include font(12, 12, $dark_gray);
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: 'Pretendard-Regular';
        &::before{
          @include setCont(20px, 20px, block, absolute);
          @include bgSvg(icoPlus(), no-repeat, 50% 50%, 100% auto);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: -20px;
        }
      }
    }
  }
}

.qa{
  h1{
    @include font(25, 25, $black);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Pretendard-Bold';
    text-align: center;
    padding-top: 25px;
    &::before{
      @include setCont(150px, 110px, block, relative);
      @include bg("/qa.svg", no-repeat, 50% 50%, 100% auto);
      margin-top: 40px;
    }
  }
  .bx_fold{
    @include setCont(100%, auto, block, relative);
    margin-bottom: 30px;
    .fold_top{
      @include setCont(100%, 70px, flex, relative);
      @include font(30, 30, $dark_gray, $bold);
      font-family: 'Pretendard-SemiBold';
      padding: 0 20px;
      border-radius: 100px;
      align-items: center;
      box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      background-color: $white;
      .sign{
        @include setCont(40px, 40px, block, relative);
        background-color: $yellow;
        color: $white;
        min-width: 40px;
        border-radius: 50px;
        margin-right : 10px;
        text-align: center;
        line-height: 40px;
      }
      h2{
        @include font(15, 15, $black, 400);
        font-family: 'Pretendard-SemiBold';
      }
    }
    .fold_content{
      @include setCont(100%, auto, flex, relative);
      padding: 80px 30px 30px 30px;
      background-color: #F8F8F8;
      border-radius: 30px 30px 20px 20px;
      margin-top: -50px;
      transform-origin: top;
      align-items: baseline;
      transition: transform .4s ease-out;
      .sign{
        @include setCont(20px, 20px, block, relative);
        background-color: $dark_gray;
        color: $white;
        min-width: 20px;
        border-radius: 50px;
        margin-right : 10px;
        text-align: center;
        line-height: 20px;
      }
    }
    .slide-enter, .slide-leave-to{
      transform: scaleY(0);
    }
  }
}
