.login{
  @include setCont(100%, 100%, block, relative);
  min-height: 600px;
  overflow: hidden;
  .swiper-container{
    display: flex;
    .swiper-slide{
      height: 100%;
      margin: 0;
      padding: 0;
      .col2{
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: $white;
        .col{
          letter-spacing: -0.5px;
          width: 100%;
          h2{
            @include font(25, 25, $black);
            font-family: 'Pretendard-Bold';
            margin-top: 44px;
          }
          span{
            @include font(17, 23, #AAAAAA);
            display: inline-block;
            font-family: 'Pretendard-Medium';
            padding-top: 20px;
          }
          &.top{
            background-color: #F8F8F8;
            padding: 20px 0;
            &.one{
              .img{
                @include setCont(100%, 100%, block, relative);
                @include bg("/login1.svg", no-repeat, 50% 50%, contain);
              }
            }
            &.two{
              .img{
                @include setCont(100%, 100%, block, relative);
                @include bg("/login2.svg", no-repeat, 50% 50%, contain);
              }
            }
            &.three{
              .img{
                @include setCont(100%, 100%, block, relative);
                @include bg("/login3.png", no-repeat, 50% 50%, contain);
              }
            }
          }
        }
      }
    }
  }
  .bottom{
    @include setCont(200px, 60px, flex, absolute);
    @include font(20, 20, $white);
    flex-direction: column;
    font-family: 'Pretendard-Bold';
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    z-index: 1000;
    .btn{
      box-shadow: 0 8px 10px rgba(255,229,160,.4);
    }
    .swiper-pagination{
      top: -30px;
    }
  }
}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}
.detail{
  .area{
    padding: 25px;
    .visual{
      position: relative;
      padding: 60px 25px 30px 25px;
      .acce{
        &.one{
          @include setCont(15px, 15px, block, absolute);
          @include bgSvg(icoAcceone(), no-repeat, 50% 50%, 100% auto);
          right: 50px;
          animation: motion 1s linear 0s infinite alternate; margin-top: 0;
        }
        &.two{
          @include setCont(18px, 18px, block, absolute);
          @include bgSvg(icoAccetwo(), no-repeat, 50% 50%, 100% auto);
          right: 40px;
          top: 170px;
          animation: motion 2s linear 0s infinite alternate; margin-top: 0;
        }
        &.three{
          @include setCont(20px, 20px, block, absolute);
          @include bgSvg(icoAccethree(), no-repeat, 50% 50%, 100% auto);
          left: 50px;
          top: 200px;
          animation: motion 0.7s linear 0s infinite alternate; margin-top: 0;
        }
      }
      .right{
        h2{
          margin: 30px 0 20px;
        }
      }
    }
  }
  .area_subject_cont{
    width: 100%;
    .subject_cont{
      margin-top: 10px;
    }
  }
  &.uiuxdesign{
    .visual{
      .left{
        @include setCont(231px, 149px, block, relative);
        @include bg("/t_cont_two.png", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
      }
    }
    // .area_bx_infor{
    //   .large{
    //     b{
    //       @include font(23, 20, #7D55E0, 400);
    //       font-family: 'Pretendard-Bold';
    //     }
    //   }
    //   .bx_infor{
    //     box-shadow: 0px 0px 20px rgba(137 , 90, 232 ,0.2);
    //     strong{
    //       color: #7D55E0;
    //       b{
    //         color: #7D55E0;
    //       }
    //     }
    //   }
    // }
    // .bx_filt{
    //   .btns{
    //     .btn{
    //       background-color:rgba(137 , 90, 232 ,0.2);
    //       &.on{
    //         color: $white;
    //         background-color: #7D55E0;
    //       }
    //     }
    //   }
    // }
  }
  &.graphicdesign{
    .visual{
      .left{
        @include setCont(170px, 160px, block, relative);
        @include bg("/t_cont_three.png", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-left: 15px;
      }
    }
  }
  &.threedesign{
    .visual{
      .left{
        @include setCont(160px, 179px, block, relative);
        @include bg("/3d_list.png", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
    }
  }
  &.animator{
    .visual{
      .left{
        @include setCont(193px, 179px, block, relative);
        @include bg("/t_cont_one.png", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
        margin-right: 15px;
      }
      .right{
        h2{
          margin-top: 20px;
        }
      }
    }
  }
  &.package{
    .visual{
      .left{
        @include setCont(208px, 147px, block, relative);
        @include bg("/t_cont_four.png", no-repeat, 50% 50%, 100% auto);
        @include blind;
        min-width: 96px;
      }
    }
  }
}
.course{
  .a_top{
    margin-top: 0;
  }
  .visual{
    display: block;
    height: auto;
    padding: 0;
    background-color: transparent;
    .right{
      p{
        @include font(16, 20, $black, 400);
        text-align: justify;
        font-family: 'Pretendard-Medium';
      }
    }
  }
  .subject_cont{
    margin: 8px 0 28px 0;
  }
  .swiper-slide {
    @include setCont(130px, 160px, flex, relative);
    a{
      @include setCont(100%, 100%, block, relative);
      .bx_list{
        position: absolute;
        bottom: 0px;
        padding: 15px;
      }
    }
  }
  .area_subject_cont{
    .subject_cont{
      margin: 0;
      margin-top: 10px;
    }
  }
}

.department{
  h2{
    @include font(19, 21, $black, 400);
    font-family: 'Pretendard-SemiBold';
    margin-bottom: 20px;
  }
  p{
    @include font(16, 23, $black, 400);
    font-family: 'Pretendard-Medium';
    text-align: justify;
    +p{
      margin-top: 15px;
    }
  }
}

.introduct{
  .animate__delay-1s{
    animation-delay: 0.2s
  }
  .animate__delay-2s{
    animation-delay: 0.6s
  }
  .animate__delay-3s{
    animation-delay: 1s
  }
  .animate__delay-4s{
    animation-delay: 1.2s
  }
  .a_cont{
    position: relative;
    padding: 30px 0;
    p{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &::after{
      @include setCont(50px, 2px, block, absolute);
      background-color: #ddd;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-of-type(1){
      p{
        &:before{
          @include setCont(155px, 79px, block, relative);
          @include bg("/introduct_img1.svg", no-repeat, 50% 50%, 100% auto);
          margin-bottom: 18px;
        }
      }
    }
    &:nth-of-type(2){
      p{
        &:before{
          @include setCont(117px, 78px, block, relative);
          @include bg("/introduct_img2.svg", no-repeat, 50% 50%, 100% auto);
          margin-bottom: 18px;
        }
      }
    }
    &:nth-of-type(3){
      p{
        &:before{
          @include setCont(86px, 86px, block, relative);
          @include bg("/introduct_img3.svg", no-repeat, 50% 50%, 100% auto);
          margin-bottom: 18px;
        }
      }
    }
  }
}

.rpl{
  h2{
    margin-bottom: 20px;
  }
  p{
    @include font(16, 23, $black, 400);
    font-family: 'Pretendard-Medium';
  }
  .circle{
    margin-top: 15px;
    li{
      @include font(14, 19, $black, 400);
      font-family: 'Pretendard-Regular';
      list-style:disc;
      margin-left: 15px;
    }
  }
  .a_cont{
    li{
      background-color: #FFFCEF;
      border-radius: 5px;
      margin-top: 10px;
      padding: 15px 20px;
      &.animate__delay-1s{
        animation-delay: 0.4s
      }
      &.animate__delay-2s{
        animation-delay: 0.7s
      }
      &.animate__delay-3s{
        animation-delay: 1s
      }
      &:nth-of-type(1){
        .right {
          display: flex;
          align-items: center;
          &:before{
            @include setCont(77px, 63px, block, relative);
            @include bg("/rpl_img1.svg", no-repeat, 50% 50%, 100% auto);
            margin-bottom: 18px;
            margin-right: 30px;
          }
        }
      }
      dt{
        @include font(15, 19, $black, 400);
        font-family: 'Pretendard-SemiBold';
        margin-bottom: 5px;
      }
      dd{
        @include font(14, 18, $dark_gray, 400);
        font-family: 'Pretendard-Medium';
        margin-bottom: 3px;
      }
      .btn{
        @include font(15, 15, $white, 400);
        font-family: 'Pretendard-SemiBold';
        padding: 10px 23px;
        margin-top: 11px;
      }
      p{
        @include font(15, 19, $black, 400);
        font-family: 'Pretendard-SemiBold';
        margin-bottom: 10px;
      }
      .dl_check{
        dt{
          @include font(15, 21, $black);
          font-family: 'Pretendard-SemiBold';
          display: flex;
          align-items: center;
          &:before{
            @include setCont(10px, 8px, block, relative);
            @include bgSvg(icoCheck($s_yellow), no-repeat, 50% 50%, 100% auto);
            margin-right: 5px;
          }
        }
        dd{
          @include font(14, 21, $dark_gray, 400);
          font-family: 'Pretendard-Medium';
          margin-bottom: 10px;
        }
      }
    }
  }
}

.faculty{
  h2{
    @include font(19, 21, $black);
    font-family: 'Pretendard-SemiBold';
    margin-bottom: 10px;
  }
  .swiper-slide{
    background-color: $white;
    height: 108px;
    margin: 10px 0;
    .bx_subject_item{
      margin: 0;
      height: 105px;
      a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .subject_top{
          h3{
            width: 80%;
            text-align: left;
            @include ellipsis(2);
          }
        }
        .subject_cont{
          justify-content: space-between;
        }
      }
    }
  }
}

.take{
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: none;
  }
}
.take.alltake {
  display: block;
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: none;
  }
}
.take.onetake {
  .take{
    display: none;
  }
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: block;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: none;
  }
}
.take.twotake {
  .take{
    display: none;
  }
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: block;
  }
  .bx_threetake{
    display: none;
  }
}
.take.threetake {
  .take{
    display: none;
  }
  .bx_alltake{
    display: none;
  }
  .bx_onetake{
    display: none;
  }
  .bx_twotake{
    display: none;
  }
  .bx_threetake{
    display: block;
  }
}
a {
  transition:all 200ms;
}
.course{
  .swiper{
    .swiper-slide{
      background-color: transparent;
      height: 350px;
      margin: 0;
    }
  }
}

// 2D컴퓨터그래픽
.twod{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(1){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      height: 450px;
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d1.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d3.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d4.jpeg", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d5.jpeg", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d6.jpeg", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d7.jpeg", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d8.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/2d/2d9.png", no-repeat, 50% 50%, auto 100%);
        }
      }
    }
   }
}
// gui
.gui{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(2){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      height: 300px;
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui4.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui5.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui6.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui7.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui8.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui9.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui10.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui11.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(12){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/gui/gui12.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
  }
}
// HCI개론(인터렉션디자인 이해)
.hci{
 .newproduct{
  .course{
    display: none;
    &:nth-of-type(3){
      display: block;
    }
  }
 } 
}
// UX디자인 사례분석
.uxdesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(4){
        display: block;
      }
    }
   } 
}
// 기초입체디자인
.basicstere{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(5){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere1.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere2.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere3.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere4.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere5.jpeg", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere6.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicstere/basicstere7.png", no-repeat, 50% 50%, auto 100%);
        }
      }
    }
   }
}
// 모션그래픽
.motion{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(6){
        display: block;
      }
    }
   }
   .swiper{
    margin-top: 30px;
    height: 350px;
    .swiper-slide{
      display: block;
      margin-top: 0;
      height: 100%;
      background-color: transparent;
      video{
      width: auto;
      height: 100%;
      }
      .bx_list{
        text-align: center;
        margin-top: 5px;
      }
     }
   }
}
// 미디어스토리텔링 디자인
.mediastory{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(7){
        display: block;
      }
    }
   } 
}
// 브랜드디자인
.branddesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(8){
        display: block;
      }
    }
   } 
}
// 브랜드전략
.brandstrategy{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(9){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy4.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy5.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy6.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy7.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy8.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy9.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy10.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy11.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(12){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy12.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(13){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy13.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(14){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/brandstrategy/brandstrategy14.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
  }
}
// 사용자경험 프로토타이핑
.prototyping{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(10){
        display: block;
      }
    }
   } 
   .swiper{
    .swiper-slide{
      height: 500px;
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping1.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping2.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping3.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping4.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping5.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping6.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping7.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping8.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping9.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping10.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping11.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(12){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/prototyping/prototyping12.png", no-repeat, 50% 50%, auto 100%);
        }
      }
    }
  }
}
// 사진촬영 스튜디오
.photography{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(11){
        display: block;
      }
    }
   } 
}
// 영상촬영 스튜디오
.videography{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(12){
        display: block;
      }
    }
   } 
}
// 인포메이션디자인
.information{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(13){
        display: block;
      }
    }
   } 
}
// 타이포그래피
.typography{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(14){
        display: block;
      }
    }
   } 
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography1.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography2.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography3.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography4.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography5.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography6.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography7.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/typography/typography8.png", no-repeat, 50% 50%, auto 100%);
        }
      }
    }
  }
}
// 편집디자인 종합설계
.designeditor{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(15){
        display: block;
      }
    }
   } 
}
// 3D컴퓨터그래픽
.threed{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(16){
        display: block;
      }
    }
   } 
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/3d/3d1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/3d/3d2.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/3d/3d3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/3d/3d4.jpg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/3d/3d5.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
   }
}
// UX 디자인 방법론
.methodology{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(17){
        display: block;
      }
    }
   } 
}
// 기초평면디자인
.basicplane{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(18){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicplane/basicplane1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicplane/basicplane2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicplane/basicplane3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/basicplane/basicplane4.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
  }
}
// 레이아웃 디자인
.layoutdesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(19){
        display: block;
      }
    }
   } 
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout4.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout5.png", no-repeat, 50% 50%, auto 100% );
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout6.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout7.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout8.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout9.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout10.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout11.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(12){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout12.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(13){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout13.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(14){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout14.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(15){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout15.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(16){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout16.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(17){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/layout17.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
   }
}
// 서비스경험디자인
.serviceexperience{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(20){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience4.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience5.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience6.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience7.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience8.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience9.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience10.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience11.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience12.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(12){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience13.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(13){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience14.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(14){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/serviceexprience/serviceexperience15.png", no-repeat, 50% 50%, 100% auto);
        }
      }
    }
   }
}
// 디자인매니지먼트
.management{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(21){
        display: block;
      }
    }
   }
   .swiper{
    .swiper-slide{
      background-color: transparent;
      height: 450px;
      margin: 0;
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage1.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage2.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage3.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage4.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage5.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage6.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage7.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage8.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage9.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage10.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage11.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(12){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage12.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(13){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage13.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(14){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage14.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(15){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage15.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(16){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage16.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(17){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage17.png", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(18){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/manage18.png", no-repeat, 50% 50%, auto 100%);
        }
      }
    }
  }
}
// 패키지디자인
.package{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(22){
        display: block;
      }
    }
   } 
}
// 소셜비즈니스 마케팅
.socialbusiness{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(23){
        display: block;
      }
    }
   } 
   .swiper{
    .swiper-slide{
      height: 550px;
      &:nth-of-type(1){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social1.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(2){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social2.jpeg", no-repeat, 50% 50%, 100% auto);
        }
      }
      &:nth-of-type(3){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social3.png", no-repeat, 50% 50%, auto 100%);
        }
      }
      &:nth-of-type(4){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social4.png", no-repeat, 50% 50%,  auto 100%);
        }
      }
      &:nth-of-type(5){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social5.png", no-repeat, 50% 50%,  auto 100%);
        }
      }
      &:nth-of-type(6){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social6.png", no-repeat, 50% 50%,  auto 100%);
        }
      }
      &:nth-of-type(7){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social7.png", no-repeat, 50% 50%,  100% auto);
        }
      }
      &:nth-of-type(8){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social8.jpeg", no-repeat, 50% 50%,  auto 100%);
        }
      }
      &:nth-of-type(9){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social9.jpeg", no-repeat, 50% 50%,  auto 100%);
        }
      }
      &:nth-of-type(10){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social10.jpeg", no-repeat, 50% 50%,  auto 100%);
        }
      }
      &:nth-of-type(11){
        .img{
          @include setCont(100%, 100%, block, relative);
          @include bg("/social/social11.jpeg", no-repeat, 50% 50%,  auto 100%);
        }
      }
    }
   }
}
// 영상디자인기초
.videodesign{
  .newproduct{
    .course{
      display: none;
      &:nth-of-type(24){
        display: block;
      }
    }
   } 
}
.tab_wrap{
  @include font(15, 15);
  font-family: 'Pretendard-SemiBold';
  display: flex;
  justify-content: space-between;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  // border-bottom:1px solid #cdcdcd;
}
.tab_wrap input{
  display:none;
}
.tab_wrap label{
  width: 33.3%;
  height:45px;
  color: #9E9E9E;
  line-height:45px;
  text-align:center;
  margin-bottom: 0;
  border-bottom: 3px solid #EBEBEB;
}
.tab_wrap label.on{
  color:$black;
  border-bottom: 3px solid $yellow;
}
.tab_content{
  display:none;
  width:100%;
  margin:0 auto;
}
.tab_content1{
  display:block;
}
.features{
  h1{
    @include font(25, 25, $black);
    font-family: 'Pretendard-Bold';
    text-align: center;
    margin-bottom: 35px;
  }
  .f_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2.tit{
    @include font(18, 18, $black);
    font-family: 'Pretendard-SemiBold';
    display: inline-block;
  }
  .area_bx_infor{
    .bx_infor{
      box-shadow: 0px 0px 7px 3px rgba(235, 235, 235, 0.8);
      strong{
        b{
          color: $black;
        }
      }
    }
  }
  .wrap-table-shopping-cart{
    .tit{
      margin-bottom: 15px;
    }
    .bx_subject_item{
      position: relative;
      box-shadow: none;
      justify-content: flex-end;
      height: auto;
      margin-top: 0;
      box-shadow: none;
      // &:nth-of-type(1){
      //   .bx_item_list{
      //     .bx_subject{
      //       background-color: $yellow;
      //       .area_subject_cont{
      //         p{
      //           @include font(15, 15, $black);
      //         }
      //         .subject_cont{
      //           li{
      //             color: $black;
      //             &.grades{
      //               border-right: 1px solid $black;
      //               border-left: 1px solid $black;
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
      .grades{
        &::before{
          display: none;
        }
      }
      .round{
        @include setCont(15px, 15px, block, relative);
        background-color: #fff;
        border: 1px solid #F7C700;
        flex-shrink: 0;
        border-radius: 20px;
        left: 5px;
        &::after{
          @include setCont(7px, 7px, block, absolute);
          border-radius: 20px;
          background-color: #F7C700;
          top: 49.9%;
          left: 49.5%;
          transform: translate(-50%, -50%);
        }
      }
      .bx_item_list{
        display: flex;
        justify-content: space-between;
        .bx_subject{
          width: calc(100% - 30px);
          flex-grow: 1;
          box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1);
          border-radius: 20px;
          padding: 20px;
          margin: 10px 0 10px 15px;
          .subject_top{
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            align-items: center;
            border: none;
            h3{
              @include font(16, 16, $black);
              font-family: 'Pretendard-SemiBold';
            }
            button{
              @include font(11, 11, #e65540);
              font-family: 'Pretendard-SemiBold';
              border: 1px solid #e65540;
              padding: 3px 5px;
              border-radius: 5px;
              opacity: 0.7;
            }
          }
          .area_subject_cont{
            p{
              @include font(15, 15, #9E9E9E);
              font-family: 'Pretendard-Medium';
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              margin-bottom: 10px;
            }
          }
        }
      }
      &::after{
        @include setCont(2px, 100%, block, absolute);
        background-color: $yellow;
        left: 11px;
        top: 0;
        opacity: 0.2;
      }
      &.type2{
        .bx_subject{
          background-color: $yellow;
          box-shadow: 0 5px 10px rgba(255, 229, 160, 0.8);
        }
        &::before{
          @include setCont(7px, 7px, block, absolute);
          border-radius: 20px;
          background-color: #F7C700;
          bottom: 0;
          left: 8px;
        }
      }
    }
    a{
      padding: 0;
      .a_go{
        display: flex;
        justify-content: center;
        font-family: 'Pretendard-Regular';
        align-items: center;
        &::before{
          @include setCont(30px, 30px, block, relative);
          @include bgSvg(icoPlus("fff"), no-repeat, 50% 50%, 100% auto);
        }
        p{
          @include font(15, 15, $white);
        }
      }
    }
  }
}

.qa{
  h1{
    @include font(25, 25, $black);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Pretendard-Bold';
    text-align: center;
    padding-top: 25px;
    &::before{
      @include setCont(150px, 110px, block, relative);
      @include bg("/qa.svg", no-repeat, 50% 50%, 100% auto);
      margin-top: 40px;
    }
  }
  .bx_fold{
    @include setCont(100%, auto, block, relative);
    margin-bottom: 30px;
    .fold_top{
      @include setCont(100%, 70px, flex, relative);
      @include font(30, 30, $dark_gray, $bold);
      font-family: 'Pretendard-SemiBold';
      padding: 0 20px;
      border-radius: 100px;
      align-items: center;
      box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      background-color: $white;
      .sign{
        @include setCont(40px, 40px, block, relative);
        background-color: $yellow;
        color: $white;
        min-width: 40px;
        border-radius: 50px;
        margin-right : 10px;
        text-align: center;
        line-height: 40px;
      }
      h2{
        @include font(15, 15, $black, 400);
        font-family: 'Pretendard-SemiBold';
      }
    }
    .fold_content{
      @include setCont(100%, auto, flex, relative);
      padding: 80px 30px 30px 30px;
      background-color: #F8F8F8;
      border-radius: 30px 30px 20px 20px;
      margin-top: -50px;
      transform-origin: top;
      align-items: baseline;
      transition: transform .4s ease-out;
      .sign{
        @include setCont(20px, 20px, block, relative);
        background-color: $dark_gray;
        color: $white;
        min-width: 20px;
        border-radius: 50px;
        margin-right : 10px;
        text-align: center;
        line-height: 20px;
      }
    }
    .slide-enter, .slide-leave-to{
      transform: scaleY(0);
    }
  }
}


.todo-wrapper{
  form{
    overflow: overlay;
    label{
      display: block;
      text-align: center;
      font-size: 1.2em;
    }
  }
  .control-buttons{
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  ul.todo-list{
    padding: 0;
    &.bx_review{
      box-shadow: none;
      display: flex;
      flex-direction: column-reverse;
      span{
        @include font(15, 23, $dark_gray);
      }
    }
  }
  ul.todo-list li{
    width: 100%;
    position: relative;
    list-style-type: none;
    border-top: 1px solid #ddd;
    padding: 15px 15px 0 15px;
    &:nth-last-child(-n+3){
      .l_right{
        h3{
          &::before{
            @include font(15, 20, $black);
            font-family: 'Pretendard-SemiBold';
            content: 'MADE 졸업전시'
          }
        }
        label{
          display: none;
        }
      }
      .r_top{
        span{
          &::before{
            content: 'kimsubin12'
          }
        }
      }
    }
    &:nth-last-child(1){
      .r_top{
        p{
          &::before{
            @include bg("/review2.png", no-repeat, 50% 50%, 100% auto);
          }
        }
      }
    }
    &:nth-last-child(2){
      .l_right{
        h3{
          &::before{
            content: 'MADE 이름의 숨겨진 뜻!'
          }
        }
      }
      .r_top{
        p{
          &::before{
            @include bg("/review3.png", no-repeat, 50% 50%, 100% auto);
          }
        }
        span{
          &::before{
            content: 'wongid_0724'
          }
        }
      }
    }
    &:nth-last-child(3){
      .l_right{
        h3{
          &::before{
            content: 'MADE 많관부'
          }
        }
      }
      .r_top{
        p{
          &::before{
            @include bg("/review1.png", no-repeat, 50% 50%, 100% auto);
          }
        }
        span{
          &::before{
            content: 'rioooona8'
          }
        }
      }
    }
    .r_top{
      p{
        margin-bottom: 10px;
        &::before{
          @include setCont(35px, 35px, block, relative);
          @include bg("/profile.png", no-repeat, 50% 50%, 100% auto);
          margin-right: 10px;
        }
        span{
          &::before{
            @include font(15, 18, $black);
            font-family: 'Pretendard-Bold';
            content: 'rina'
          }
        }
      }
    }
    .l_right{
      @include font(20, 30, $black);
      display: flex;
      flex-direction: column;
      position: relative;
      font-family: 'Pretendard-Medium';
      width: 100%;
      overflow: hidden;
      label{
        @include font(15, 20, $black);
        font-family: 'Pretendard-SemiBold';
        &.tit{
          margin: 0;
          margin-top: 10px;
        }
      }
      .date{
        @include font(13, 13, $dark_gray);
        font-family: 'Pretendard-Medium';
        display: inline-block;
      }
      .delete{
        @include setCont(60px, auto, block, relative);
        @include font(13, 13, $white);
        font-family: 'Pretendard-Medium';
        transform: translateY(-50%);
        background-color: #e65540;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        margin: 0;
      }
    }
    &:nth-last-child(-n+3){
      .delete{
        display: none;
      }
    }
  }
  h2{
    @include font(17, 17, $black);
    font-family: 'Pretendard-Bold';
    margin-bottom: 15px;
  }
  .bottom_todo{
    border-top: 1px solid #ddd;
    padding: 30px 15px;
    p{
      @include font(15, 15);
      font-family: 'Pretendard-Medium';
      padding-top: 15px;
    }
    .todo_tit, .todo_cont{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &.todo_tit{
       margin-bottom: 10px; 
      }
      &.todo_cont{
        input{
          min-height: 150px;
        }
       }
    }
    .btn, input {
      @include font(17, 17, $black);
      font-family: 'Pretendard-Medium';
      padding: 0.2em 1em;
    }
    input::placeholder{
      @include font(13, 13, $black);
      font-family: 'Pretendard-Medium';
    }
    input[type='text'] {
      transition: all ease-in 0.25s;
      border: 1px solid #ddd!important;
      border-radius: 15px;
      height: 50px;
      width: 85%;
    }
    input::placeholder{
      color: rgba(0,0,0,0.2);
    }
    .btn-add {
      @include font(15, 15, $black);
      font-family: 'Pretendard-SemiBold';
      box-shadow: 0 5px 10px rgba(255, 229, 160, 0.8);
      display: block;
      margin: 0 0 0 auto;;
      background: $yellow;
      min-height: 40px;
      width: 85%;
      line-height: 40px;
      border-radius: 50px;
      margin-top: 15px;
    }
    .btn-add.active{
      background: $yellow;
      border-color: $yellow;
      pointer-events: visible;
    }
    .btn-add.active:hover{
      background: $yellow;
      border-color: $yellow;
    }
    .btn-add:active{
      transform: scale(0.95);
    }
  }
  .todo-item-enter-active, .todo-item-leave-active {
    transition: opacity ease 0.25s, transform ease-in-out 0.3s;
    transform-origin: left center;
  }
  /* .todo-item-leave-active below version 2.1.8 */
  .todo-item-enter, .todo-item-leave-to {
    opacity: 0;
    transform: translateX(100%);
  }
}
